* {
  border: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 15px;
  padding: 15px;
}
main > form {
  margin-bottom: 50px;
}
main > form > input {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #6b9956;
  outline: none;
}
main > form > input::placeholder {
  color: #ccc;
}
main > form > button {
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #6b9956;
  outline: none;
  cursor: pointer;
  transition: background 0.8s;
  background-color: #6b99567c;
}
main > form > button:hover {
  background-color: #6b9956;
}

#list-tarefa > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
  margin: 5px;
  filter: drop-shadow(2px 2px 2px #585858);
}
#list-tarefa > div:hover {
  transform: scale(1.05);
  border: 1px solid #ccc;
  filter: drop-shadow(2px 2px 2px #585858);
}
#list-tarefa > div > h5::first-letter {
  text-transform: uppercase;
}
#list-tarefa > div > .divButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  text-align: center;
  padding: 5px 5px;
  background-color: #d3cece86;
}
#list-tarefa > div > .divButton > button:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
  cursor: pointer;
  background-color: #ff000042;
  color: #ff0000;
}

#list-tarefa > div > .divButton > button:nth-child(1):hover {
  background-color: #fd6969;
}

#list-tarefa > div > .divButton > button:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  text-align: center;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
  background-color: #09380249;
  color: #093802;
}
#list-tarefa > div > .divButton > button:nth-child(2):hover {
  background-color: #b3fab68e;
}
.concluido {
  background-color: #e2dfdf !important;
  font-style: oblique;
  color: #8b8989;
}
.concluido h5 {
  text-decoration: line-through;
}
