input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 340px;
  height: 37px;
  color: #000000;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding-left: 15px;
  border-radius: 25px 0 0 25px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #007bff;
  background-color: rgb(255, 255, 255);
}
input::placeholder {
  color: #868282;
  padding: 8px 0;
}
