.footer {
  color: #ffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 15px 0;
  height: var(--heightFooter);
}
.footer section:nth-child(1) {
  display: inline-flex;
  gap: 15px;
}
.footer section:nth-child(2) {
  flex-direction: column;
}

.footer section a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.footer span,
.footer svg {
  color: var(--corSecundaria);
}
