.main {
  padding: 30px;
  min-height: calc(100vh - var(--heightNavBar) - 130px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.main section {
  padding: 15px;
  flex: 1; /* As colunas vão ocupar o mesmo espaço */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo dentro das seções */
  align-items: center; /* Centraliza verticalmente o conteúdo dentro das seções */
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.main > section > img {
  display: block;
  width: 120%;
  height: 100%;
}
