.main {
  padding: 30px;
  min-height: calc(100vh - var(--heightNavBar) - 130px);
}
.main h1 {
  color: var(--corSecundaria);
  text-align: center;
  font-weight: normal;
}
.main p {
  text-align: center;
  color: #757373;
  margin-bottom: 15px;
}
