.main {
  height: var(---heightNavBar);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.main nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.main nav > a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  color: var(--corSecundaria);
  height: 100%;
  border-bottom: 1px solid var(--cor60);
}
.main nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 100%;
}
.main nav ul a {
  text-decoration: none;
  color: var(--cor60);
  padding: 5px;
}
.main nav ul a:hover {
  color: var(--cor30);
}
