form {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 30px;
}
form input {
  position: absolute;
  left: 0;
}

form a {
  position: absolute;
  right: 0;
}
