:root {
  --corPrincipal: #111246;
  --corSecundaria: #ff4a03;
  --corTerceira: #ffffff;
  --heightNavBar: 60px;
  --heightFooter: 60px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
body {
  background-color: var(--corPrincipal);
}

*::first-letter {
  text-transform: capitalize;
}
p::first-letter {
  text-transform: uppercase;
  padding-left: 15px;
}
h1::first-letter {
  text-transform: uppercase;
  padding-left: 15px;
}

p {
  font-size: 15px;
  font-size: clamp(14px, 5vw, 16px);
}

h1 {
  font-size: 25px;
  font-size: clamp(20px, 5vw, 30px);
}
